<br/ ><br/ >
<center><h2>Welcome to Sportshop</h2></center>
<center><h3>We provide high quality sports products</h3></center>

<br /><br /><br />
<center>
<table width = 100% border = 0>
<tr>
    <td align='center'><%= image_tag 'socks.jpg', size: "150x150" %><br /><center><h4><font color = green>Wears</font></h4></td>
    <td align='center'><%= image_tag 'mc.jpg', size: "150x150" %><br /><center><h4><font color = green>Accessories</font></h4></td>
    <td align='center'><%= image_tag 'ball.jpg', size: "150x150" %><br /><center><h4><font color = green>Equipment</font></h4></td>
</tr>
</table>
</center>
<br /><br /><br /><br /><br />

<h4><%= link_to "Have a look at some of our products", home_catalog_path %></h4>

<h4 align="right"><%= link_to "Admin Login", sessions_new_path %></h4>