<center><h2>Maintenance View (authorized personnel only) </h2></center>
<center><p>Below is a listing of maintenance functions.  Choose the one you want.</p>
<table width = 60% border = 1>
    <tr> 
        <th> Customer and Products Analysis </th> 
        <th> General Maintenance Functions </th> 
    </tr>
    <tr> 
        <td><%= link_to "Find products bought by a customer", showcustprods_custprodin_path %></td> 
        <td><%= link_to "Customer Database Functions", customers_path %></td>
    </tr>
    <tr> 
        <td><%= link_to "Find customers that bought a product", showprodcusts_prodcustin_path %></td> 
        <td><%= link_to "Products Database Functions", products_path %> </td> 
    </tr> 
    <tr> 
        <td></td> 
        <td><%= link_to "Orders Database Functions", orders_path %> </td> 
    </tr>
    <tr> 
        <td></td> 
        <td><%= link_to "Categories Database Functions", categories_path %> </td> 
    </tr>
    <tr> 
        <td></td> 
        <td><%= link_to "Brands Database Functions", brands_path %> </td> 
    </tr>
</table>
</center><br /><br /><br /><br /><br /><br />

<br>

<p align='center'> <%= link_to "Return to Home Page", root_path %> </p>




