<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @product.productname %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @product.productimage %>
</p>

<p>
  <strong>Productdescription:</strong>
  <%= @product.productdescription %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
